[submodule "client"]
	path = client
	url = https://github.com/rinrinkurukuru/Notion_clone_client.git
[submodule "server"]
	path = server
	url = https://github.com/rinrinkurukuru/Notion_clone_server.git
